h1{text-align: center;text-shadow: 3px 3px 6px blue;}
p{text-align: center;text-shadow: 3px 3px 6px black;}
h2 {color:blue;text-shadow:3px 3px 6px blue;}
.photocvminiature {float: right;box-shadow: 5px 5px 5px blue;border: : 2px groove;}
body{background-image:url("images.jpg"); }
h2{font-style: oblique;}
@font-page{
	font-family:'biorhymeexpanded_regular_macroman';
	
    src: url('web fonts/webbiorhymeexpanded_regular_macroman.eot');/*bien penser à mettre le bon chemin dans l'URL,voir dans les dossiers si notre font est ds un sous dossier ou pas*/
    src: url('web fonts/biorhymeexpanded_regular_macroman.eot?#iefix') format('embedded-opentype'),
         url('web fonts/biorhymeexpanded_regular_macroman.woff') format('woff'),
         url('web fonts/biorhymeexpanded_regular_macroman.ttf') format('truetype'),
         url('web fonts/biorhymeexpanded_regular_macroman-webfont.svg#biorhymeexpanded_regular_macroman') format('svg');}

         p{font-family:'biorhymeexpanded_regular_macroman','Arial', sans-serif;}
         li{font-family:'biorhymeexpanded_regular_macroman','Arial', sans-serif;}